<h1>About</h1>
<div class="row">
	<div class="span4"></div>
	<div class="span8">
	  	<p>
				<%= link_to "Coverlist", "http://www.coverlist.com"%>
				is a place where books are judged by their covers. 
			</p>
	</div>
</div>