<% if user_signed_in? %>
	<p>booooooks</p>
<% else %>
	<div class="center hero-unit">
	<h1>Welcome to Coverlist.</h1>
	<p>
		Find your next book on
		<%= link_to "Coverlist", "http://www.twitter.com/coverlist"%>.
	</p>
	<p>
		<%= link_to "Sign up now", new_user_registration_path, class: "btn btn-large btn-primary" %>
	</p>
	</div>
<% end %>