<div class="row">
    <div class="span5 offset2">
        <%= link_to image_tag(book.cover), book %><br>
        <tr>
            <td><%= link_to "Buy", book.link %></td>
            <td><%= book.score %></td>
            <td><%= @likes %></td>
      </tr>
    </div>
</div>

