<div class="footer">
	<div class="navbar">
	<div class="navbar-inner">
		<div class="nav-collapse collapse">
			<div class="container">
                    <ul class="nav">
                       <li>    
                            <%= link_to 'Home',  root_path %>
                        </li>
                        <li>    
                            <%= link_to 'About Coverlist',  about_path %>
                        </li>
                    </ul>
					<ul class="nav pull-right">
	                  <li>
						<small>made by <%= link_to "Dani", "http://www.danifankhauser.com/"%></small>
					</li>
					</ul>
                </div>
            </div>
        </div>
    </div>
		
	</div>